# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro/
.metro-cache/
.metro-health-check*

# Native
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Environment
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Example / Generated
app-example
build/
coverage/

# Editor
.vscode/
.idea/
